$spacer: 1rem;

$spacers: (
    10: (
        $spacer * 11,
    ),
);

.jumbotron {
    margin-bottom: 0;
    background-image: url("../images/wwr_header.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro {
    font-weight: 100;
    line-height: 1.6em;
    font-size: 1.2rem;
}

.trusted-banner {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../images/trusted_banner.png");
    display: block;
    margin: 0 auto;
    width: 85%;
    padding-top: 14%;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

@import "static/bootstrap/scss/bootstrap";
@import "jobs";
@import "jobs_new";
@import "jobs_detail";

.jumbotron {
    margin-bottom: 0;
}

a,
a:visited,
a:hover {
    color: #4d5154;
    text-decoration: none !important;
}
