$spacer: 1rem;

$spacers: (
    10: (
        $spacer * 11,
    ),
);

nav {
    a.navbar-brand {
        font-family: "Verdana";
        font-size: 0.9rem;
        transform: scale(1.2, 2);
        font-weight: 600;
        letter-spacing: 0.5px;

        i {
            color: #c82332;
        }
    }
    .post-job {
        margin-left: 10px;
    }
}

.intro {
    font-weight: 100;
    line-height: 1.6em;
    font-size: 1.2rem;
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    position: relative;
    min-height: 100vh;
    margin-bottom: 50px;
}

// footer {
//     position: fixed;
//     height: 50px;
//     bottom: 0px;
//     left: 0px;
//     right: 0px;
//     margin-bottom: 0px;
// }

@import "static/bootstrap/scss/bootstrap";
@import "jobs";
@import "jobs_new";
@import "jobs_detail";
@import "company_detail";

.jumbotron {
    margin-bottom: 0;
    background: #fff;
}
