div.company-detail {
    background: #f8f9fa;
    padding: 20px 36px 0 36px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin: 20px 2px 40px 0px;
    min-height: 275px;

    .listing-header {
        overflow: visible;
        margin: 0;
        padding: 0;

        .listing-header-container {
            overflow: hidden;
            float: left;
            width: 875px;
            border-bottom: 1px solid rgba(144, 146, 148, 0.2);

            .listing-logo {
                overflow: hidden;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 28px 28px 0;
                float: left;
                background-size: contain;
                background-color: #fff;
                background-position: center center;
                background-repeat: no-repeat;
            }

            h1 {
                font-size: 30px;
                color: #212529;
                padding: 0;
                margin: 0 0 7px 0;
                font-weight: normal;
                text-align: left;
                line-height: 1.5em;
                max-width: calc(100% - 390px);
                display: inline-block;
                min-width: 250px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            h3 {
                color: #4d5154;
                font-family: "Neufile Grotesk Regular", sans-serif;
                text-align: left;
                font-size: 1rem;
                margin-top: -16px;
                display: inline-block;
                text-transform: none;
            }

            h4 {
                font-family: "Neufile Grotesk Light", sans-serif;
                text-align: left;
                font-size: 0.75rem;
                margin-top: 0px;
                text-transform: uppercase;
                color: #4d5154;
                margin-bottom: 40px;
                letter-spacing: 1px;
                display: inline-block;
            }
            h5 {
                font-family: "Neufile Grotesk Semi Bold", sans-serif;
                text-align: right !important;
                font-size: 1rem;
                color: #f03e3e !important;
                margin: 8px 0 10px 0;
            }

            .listing-tools {
                overflow: hidden;
                width: 250px;
                margin: 0;
                float: right;
                margin-top: -132px;
            }
        }
    }
    .company {
        overflow: hidden;
        width: 950px;
        margin: 0 auto;
        .company-description {
            overflow: hidden;
            float: left;
            width: 875px;
            padding: 20px 40px 20px 0px;
            font-size: 1.1rem;
            line-height: 1.4em;
            font-family: "Neufile Grotesk Light", sans-serif;
            color: #212529;
        }
    }
}

div.jobs-container {
    section.company-jobs {
        article {
            h2 {
                font-size: 20px;
            }
            max-width: 100%;
        }
    }
}
