.job-post-header-container {
    overflow: hidden;
    float: left;
    padding: 20px 20px 10px 0px;

    h3 {
        font-size: 0.8rem;
        color: #4d5154;
        margin: 0 0 14px 0;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 30px;
        color: #212529;
        padding: 0;
        margin: 0 0 7px 0;
        font-weight: 600;
        line-height: 1.5em;
    }

    span.post-tag {
        color: #2736a3;
        background-color: #dde0f4;
        text-decoration: none;
        font-size: 0.8rem;
        padding: 6px 8px 2px 8px;
        border-radius: 2px;
        border: 1px solid #2736a3;
        display: inline-block;
        font-family: "Neufile Grotesk Regular", sans-serif;
        margin-right: 8px;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.listing-container {
    padding: 20px 0px 0 0;
    overflow: hidden;
    float: left;
    font-size: 1.1rem;
    line-height: 1.4em;
    color: #212529;
}

.company-details {
    background: #f8f9fa;
    float: right;
    padding: 28px 36px 0 36px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-right: -25px;
    border-radius: 2px;
    word-break: break-word;

    h2 {
        text-align: center;
        font-size: 1.6rem;

        a {
            color: #212529 !important;
        }
    }
    h3 {
        color: #4d5154;
        text-align: center;
        font-size: 1rem;
    }
    h4 {
        text-align: center;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #4d5154;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }
    h5 {
        text-align: center !important;
        margin-top: 10px;
        color: #f03e3e !important;
        padding: 20px 0 0 0;
        margin-bottom: 10px;
        border-top: 1px solid rgba(144, 146, 148, 0.2);
    }
    .company-logo {
        overflow: hidden;
        width: 100px;
        height: 100px;
        padding-top: 50px;
        border-radius: 50%;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
        background-position: center center;
    }
}

section.related-jobs {
    article {
        margin-top: 40px;
        clear: both;
        margin-bottom: 50px;

        h2 {
            color: #212529;
            text-align: left;
            letter-spacing: normal;
            padding-left: 10px;
            font-size: 1rem;

            span {
                color: #212529;
                letter-spacing: normal;

                a {
                    color: #f03e3e;
                    font-size: 0.8rem;
                    letter-spacing: normal;
                }
            }
        }
    }
}
.listing-tools {
    padding-top: 10px;
    overflow: hidden;
    margin: 0;
}

.job-nav {
    display: block;
    overflow: hidden;
    font-size: 1rem;
    padding: 0 5px;

    a,
    p {
        color: #f03e3e;
    }
}

@include media-breakpoint-down(sm) {
    .job-nav {
        font-size: 0.9rem;
    }
    .company-details {
        display: none;
    }
}
