.content {
    overflow: visible;
    margin: 0 auto;
    width: 950px;
    .job-post-header {
        overflow: visible;
        margin: 0;
        padding: 0;

        .job-post-header-container {
            overflow: hidden;
            float: left;
            width: 645px;
            padding: 20px 20px 10px 0px;

            h3 {
                font-size: 0.8rem;
                color: #4d5154;
                margin: 0 0 14px 0;
                line-height: 1em;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-family: "Neufile Grotesk Light";
                letter-spacing: 1px;
            }
            h1 {
                font-size: 30px;
                color: #212529;
                padding: 0;
                margin: 0 0 7px 0;
                font-weight: normal;
                line-height: 1.5em;
            }

            span.post-tag {
                color: #2736a3;
                background-color: #dde0f4;
                text-decoration: none;
                font-size: 0.8rem;
                padding: 6px 8px 2px 8px;
                border-radius: 2px;
                border: 1px solid #2736a3;
                display: inline-block;
                font-family: "Neufile Grotesk Regular", sans-serif;
                margin-right: 8px;
                margin-bottom: 5px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        .company-details {
            background: #f8f9fa;
            float: right;
            padding: 28px 36px 0 36px;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            margin-top: 20px;
            margin-right: -25px;
            border-radius: 2px;
            word-break: break-word;

            h2 {
                text-align: center;
                font-size: 1.6rem;

                a {
                    color: #212529 !important;
                }
            }
            h3 {
                color: #4d5154;
                text-align: center;
                font-size: 1rem;
            }
            h4 {
                text-align: center;
                font-size: 0.75rem;
                text-transform: uppercase;
                color: #4d5154;
                margin-bottom: 40px;
                letter-spacing: 1px;
            }
            h5 {
                text-align: center !important;
                margin-top: 10px;
                color: #f03e3e !important;
                padding: 20px 0 0 0;
                margin-bottom: 10px;
                border-top: 1px solid rgba(144, 146, 148, 0.2);
            }
            .company-logo {
                overflow: hidden;
                width: 100px;
                height: 100px;
                padding-top: 50px;
                border-radius: 50%;
                margin: 0 auto;
                background-size: contain;
                background-color: #fff;
                background-position: center center;
            }
        }
    }
    section.related-jobs {
        article {
            max-width: 675px;
            margin-top: 40px;
            clear: both;
            margin-bottom: 50px;

            h2 {
                color: #212529;
                text-align: left;
                letter-spacing: normal;
                padding-left: 10px;
                font-size: 1.5rem;

                span {
                    color: #212529;
                    font-size: 1.2rem;
                    letter-spacing: normal;

                    a {
                        color: #f03e3e;
                        font-size: 1rem;
                        letter-spacing: normal;
                    }
                }
            }
        }
    }
    section.job {
        .listing-container {
            width: 675px;
            padding: 20px 0px 0 0;
            overflow: hidden;
            float: left;
            font-size: 1.1rem;
            line-height: 1.4em;
            color: #212529;
        }
        .listing-tools {
            padding-top: 10px;
            overflow: hidden;
            width: 675px;
            margin: 0;
        }
    }
}

.job-nav {
    display: block;
    overflow: hidden;
    margin: 35px auto 10px;
    width: 950px;
    font-size: 1rem;
    padding: 0px 0 0 5px;

    a,
    p {
        color: #f03e3e;
    }
}
