{% extends "base.html" %}

{% block content %}

{% include "banner.html" %}
<main role="main">
    <div class="container">
        {% for category, posts in job_posts.items %}
        <section class="jobs row">
            <div class="col">
                <article class="mx-auto">
                    <h2>
                        <a class="text-dark h4 category" href="?job_category={{category}}">{{category}}
                            Jobs</a>
                        <span class="font-weight-light h6 latest_post">
                            Latest post about {{posts.0.created_on|timesince}} ago
                        </span>
                    </h2>
                    {% include "jobs/job_posts.html" %}
                </article>
            </div>
        </section>
        {% endfor %}
    </div>
</main>
{% endblock content %}