<ul>
    {% for post in posts %}
    <li class="feature">
        <div class="highlight-bar"></div>
        <div class="company-logo">
            <a href="{% url 'jobs:company-detail' pk=post.company.id %}">
                {% if post.company.logo %}
                <div class="flag-logo" style="background-image: url({{post.company.logo.url}})" loading="lazy">
                </div>
                {% endif %}
            </a>
        </div>
        <a href="{% url 'jobs:job-detail' pk=post.id %}">
            <span class="company">{{post.company.name}}</span>
            <br>
            <span class="title">{{post.title}}</span>
            <span class="date_posted">{{post.created_on|date:"M d"}}</span>
            <br>
            <span class="company">{{post.get_job_type_display}}</span>
            <span>/</span>
            <span class="region company">{{post.job_location}}</span>
        </a>
    </li>
    {% endfor %}
</ul>