<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center header-logo">
            {% if header_name %}
            Remote {{header_name}} jobs
            {% else %}
            We Work From Home
            {% endif %}
        </h1>
        <section class="intro">
            {% if header_name %}
            <p class="text-center">
                Find all <strong>{{header_name}}</strong> remote jobs below
            </p>
            {% else %}
            <p class="text-center">We Work From Home is a simple Python/Django clone of <strong>
                    weworkremotely.com</strong></p>
            {% endif %}
        </section>
        <p class="text-center">
            <a href="{% url 'jobs:job-create' %}" class='btn btn-danger btn-lg'>Post a job</a>
        </p>
    </div>
</div>