<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="px-10">
            <h1 class="text-center header-logo"></h1>
        </div>
        <section class="px-10 intro">
            <p class="text-center">We Work Remotely is the <strong>largest remote work community in the
                    world.</strong> With over 2.5M monthly visitors, WWR is the #1 destination to find and list
                incredible
                remote jobs.</p>
        </section>
        <p class="text-center">
            <a href="#" class='btn btn-danger btn-lg'>Post a job</a>
        </p>
    </div>
</div>
<section>
    <div class="text-center trusted-banner w-50">
    </div>
</section>